## imports e declarações

In [26]:
#-*- coding: utf-8 -*-
import pandas as pd
import numpy as np
col = ["Abandono","Cancelamento","Classificado e Não Matriculado","Desligamento","Transferido"]

## preparação e limpeza do dataset 1

In [29]:
def cleardb1(data):
    data.columns = data.loc[0]
    data.drop(data.index[:1], inplace=True)
    data.drop(data.index[-1], inplace=True)
    data["Campus"].fillna(method='ffill', inplace=True)
    
    for i in col:
        if i not in data.columns:
            data[i] = np.nan
    for i in col:
        data[i].fillna(0, inplace=True)
    data.dropna(axis=1, inplace=True)
    
    data.reset_index(drop=True, inplace=True)

In [30]:
d061 = pd.read_csv("./data/evasao - 061.csv", encoding = "utf-8")
cleardb1(d061)
d061

,NOME_CURSO,Nº de alunos,Classificado e Não Matriculado,Campus,Abandono,Cancelamento,Desligamento,Transferido
0,CURSO DE CIENCIA DA COMPUTACAO,1,1,Alegrete,0.0,0.0,0.0,0.0
1,CURSO DE ENGENHARIA CIVIL,4,4,Alegrete,0.0,0.0,0.0,0.0
2,CURSO DE ENGENHARIA ELETRICA,2,2,Alegrete,0.0,0.0,0.0,0.0
3,CURSO DE AGRONOMIA,1,1,Itaqui,0.0,0.0,0.0,0.0
4,CURSO DE JORNALISMO,2,2,São Borja,0.0,0.0,0.0,0.0
5,CURSO DE PUBLICIDADE E PROPAGANDA,2,2,São Borja,0.0,0.0,0.0,0.0
6,CURSO DE SERVICO SOCIAL,1,1,São Borja,0.0,0.0,0.0,0.0
7,CURSO DE CIENCIAS BIOLOGICAS - NUCLEO COMUM,5,5,São Gabriel,0.0,0.0,0.0,0.0
8,CURSO DE ENGENHARIA FLORESTAL,1,1,São Gabriel,0.0,0.0,0.0,0.0
9,CURSO DE GESTAO AMBIENTAL,4,4,São Gabriel,0.0,0.0,0.0,0.0
10,CURSO DE ENFERMAGEM,1,1,Uruguaiana,0.0,0.0,0.0,0.0
11,CURSO DE FARMACIA,3,3,Uruguaiana,0.0,0.0,0.0,0.0
12,CURSO DE FISIOTERAPIA,4,4,Uruguaiana,0.0,0.0,0.0,0.0

In [31]:
d062 = pd.read_csv("./data/evasao - 062.csv", encoding = "utf-8")
cleardb1(d062)
d062

,NOME_CURSO,Nº de alunos,Abandono,Cancelamento,Desligamento,Campus,Classificado e Não Matriculado,Transferido
0,CURSO DE ENGENHARIA CIVIL,1,0,1,0,Alegrete,0.0,0.0
1,CURSO DE ENGENHARIA DE ALIMENTOS,2,0,1,1,Bagé,0.0,0.0
2,CURSO DE ENGENHARIA DE COMPUTACAO,1,0,1,0,Bagé,0.0,0.0
3,CURSO DE ENGENHARIA DE PRODUCAO,2,0,1,1,Bagé,0.0,0.0
4,CURSO DE ENGENHARIA QUIMICA,6,0,2,4,Bagé,0.0,0.0
5,CURSO DE ENGENHARIA DE ENERGIAS RENOVAVEIS E A...,4,0,2,2,Bagé,0.0,0.0
6,CURSO DE LICENCIATURA EM FISICA,5,0,2,3,Bagé,0.0,0.0
7,CURSO DE LICENCIATURA EM LETRAS - PORTUGUES E ...,2,0,1,1,Bagé,0.0,0.0
8,CURSO DE LICENCIATURA EM QUIMICA,5,0,0,5,Bagé,0.0,0.0
9,CURSO DE GEOFISICA,6,0,0,6,Caçapava do Sul,0.0,0.0
10,CURSO DE ZOOTECNIA,3,0,0,3,Dom Pedrito,0.0,0.0
11,CURSO DE AGRONOMIA,1,0,1,0,Itaqui,0.0,0.0
12,CURSO DE LICENCIATURA EM LETRAS - ESPANHOL - N...,2,0,1,1,Jaguarão,0.0,0.0
13,CURSO DE LICENCIATURA EM PEDAGOGIA - DIURNO,4,0,0,4,Jaguarão,0.0,0.0
14,CURSO DE LICENCIATURA EM PEDAGOGIA - NOTURNO,1,0,0,1,Jaguarão,0.0,0.0
15,CURSO DE PUBLICIDADE E PROPAGANDA,2,0,2,0,São Borja,0.0,0.0
16,CURSO DE ADMINISTRACAO - COMERCIO EXTERIOR - N...,1,1,0,0,Santana do Livramento,0.0,0.0
17,CURSO DE ADMINISTRACAO - EMPRESAS - NOTURNO,2,0,0,2,Santana do Livramento,0.0,0.0

In [32]:
d071 = pd.read_csv("./data/evasao - 071.csv", encoding = "utf-8")
cleardb1(d071)
d071

,NOME_CURSO,Nº alunos,Abandono,Cancelamento,Classificado e Não Matriculado,Desligamento,Transferido,Campus
0,CURSO DE CIENCIA DA COMPUTACAO,8,7,0,1,0,0,Alegrete
1,CURSO DE ENGENHARIA CIVIL,11,11,0,0,0,0,Alegrete
2,CURSO DE ENGENHARIA ELETRICA,7,7,0,0,0,0,Alegrete
3,CURSO DE ENGENHARIA DE ALIMENTOS,13,5,0,0,5,3,Bagé
4,CURSO DE ENGENHARIA DE COMPUTACAO,12,7,2,0,3,0,Bagé
5,CURSO DE ENGENHARIA DE PRODUCAO,6,5,1,0,0,0,Bagé
6,CURSO DE ENGENHARIA QUIMICA,6,5,0,0,1,0,Bagé
7,CURSO DE ENGENHARIA DE ENERGIAS RENOVAVEIS E A...,2,2,0,0,0,0,Bagé
8,CURSO DE LICENCIATURA EM FISICA,11,9,2,0,0,0,Bagé
9,CURSO DE LICENCIATURA EM MATEMATICA,5,5,0,0,0,0,Bagé
10,CURSO DE LICENCIATURA EM LETRAS - PORTUGUES E ...,4,2,0,0,2,0,Bagé
11,CURSO DE LICENCIATURA EM LETRAS - PORTUGUES E ...,1,0,0,0,1,0,Bagé
12,CURSO DE LICENCIATURA EM QUIMICA,13,11,0,0,2,0,Bagé
13,CURSO DE GEOFISICA,5,4,0,0,1,0,Caçapava do Sul
14,CURSO DE ZOOTECNIA,1,0,0,0,1,0,Dom Pedrito
15,CURSO DE AGRONOMIA,10,10,0,0,0,0,Itaqui
16,CURSO DE LICENCIATURA EM LETRAS - ESPANHOL - D...,2,0,0,0,2,0,Jaguarão
17,CURSO DE LICENCIATURA EM LETRAS - ESPANHOL - N...,7,7,0,0,0,0,Jaguarão
18,CURSO DE LICENCIATURA EM PEDAGOGIA - DIURNO,8,6,1,0,1,0,Jaguarão
19,CURSO DE LICENCIATURA EM PEDAGOGIA - NOTURNO,2,2,0,0,0,0,Jaguarão
20,CURSO DE JORNALISMO,7,7,0,0,0,0,São Borja
21,CURSO DE PUBLICIDADE E PROPAGANDA,7,7,0,0,0,0,São Borja
22,CURSO DE SERVICO SOCIAL,4,4,0,0,0,0,São Borja
23,CURSO DE ENGENHARIA FLORESTAL,9,9,0,0,0,0,São Gabriel
24,CURSO DE CIENCIAS BIOLOGICAS - NUCLEO COMUM(12...,7,7,0,0,0,0,São Gabriel
25,CURSO DE GESTAO AMBIENTAL,12,12,0,0,0,0,São Gabriel
26,CURSO DE ADMINISTRACAO - COMERCIO EXTERIOR - N...,4,2,2,0,0,0,Santana do Livramento
27,CURSO DE ADMINISTRACAO - EMPRESAS - NOTURNO,6,4,2,0,0,0,Santana do Livramento
28,CURSO DE ENFERMAGEM,3,2,0,0,0,1,Uruguaiana
29,CURSO DE FARMACIA,9,9,0,0,0,0,Uruguaiana
30,CURSO DE FISIOTERAPIA,6,6,0,0,0,0,Uruguaiana

In [33]:
d072 = pd.read_csv("./data/evasao - 072.csv", encoding = "utf-8")
cleardb1(d072)
d072

,NOME_CURSO,Nº de alunos,Abandono,Cancelamento,Desligamento,Transferido,Campus,Classificado e Não Matriculado
0,CURSO DE CIENCIA DA COMPUTACAO,13,13,0,0,0,Alegrete,0.0
1,CURSO DE ENGENHARIA CIVIL,9,9,0,0,0,Alegrete,0.0
2,CURSO DE ENGENHARIA ELETRICA,8,7,0,0,1,Alegrete,0.0
3,CURSO DE ENGENHARIA DE ALIMENTOS,7,6,1,0,0,Bagé,0.0
4,CURSO DE ENGENHARIA DE COMPUTACAO,12,12,0,0,0,Bagé,0.0
5,CURSO DE ENGENHARIA DE PRODUCAO,16,13,1,2,0,Bagé,0.0
6,CURSO DE ENGENHARIA QUIMICA,5,4,0,0,1,Bagé,0.0
7,CURSO DE ENGENHARIA DE ENERGIAS RENOVAVEIS E A...,6,6,0,0,0,Bagé,0.0
8,CURSO DE LICENCIATURA EM FISICA,16,16,0,0,0,Bagé,0.0
9,CURSO DE LICENCIATURA EM MATEMATICA,10,9,1,0,0,Bagé,0.0
10,CURSO DE LICENCIATURA EM LETRAS - PORTUGUES E ...,8,8,0,0,0,Bagé,0.0
11,CURSO DE LICENCIATURA EM LETRAS - PORTUGUES E ...,11,10,1,0,0,Bagé,0.0
12,CURSO DE LICENCIATURA EM QUIMICA,8,8,0,0,0,Bagé,0.0
13,CURSO DE GEOFISICA,4,4,0,0,0,Caçapava do Sul,0.0
14,CURSO DE ZOOTECNIA,4,3,1,0,0,Dom Pedrito,0.0
15,CURSO DE AGRONOMIA,4,4,0,0,0,Itaqui,0.0
16,CURSO DE LICENCIATURA EM LETRAS - ESPANHOL - D...,4,4,0,0,0,Jaguarão,0.0
17,CURSO DE LICENCIATURA EM LETRAS - ESPANHOL - N...,8,8,0,0,0,Jaguarão,0.0
18,CURSO DE LICENCIATURA EM PEDAGOGIA - DIURNO,7,7,0,0,0,Jaguarão,0.0
19,CURSO DE JORNALISMO,9,9,0,0,0,São Borja,0.0
20,CURSO DE PUBLICIDADE E PROPAGANDA,12,12,0,0,0,São Borja,0.0
21,CURSO DE SERVICO SOCIAL,9,9,0,0,0,São Borja,0.0
22,CURSO DE ENGENHARIA FLORESTAL,5,5,0,0,0,São Gabriel,0.0
23,CURSO DE CIENCIAS BIOLOGICAS - NUCLEO COMUM,3,3,0,0,0,São Gabriel,0.0
24,CURSO DE GESTAO AMBIENTAL,8,8,0,0,0,São Gabriel,0.0
25,CURSO DE ADMINISTRACAO - COMERCIO EXTERIOR - D...,2,2,0,0,0,Santana do Livramento,0.0
26,CURSO DE ADMINISTRACAO - EMPRESAS - NOTURNO,4,3,1,0,0,Santana do Livramento,0.0
27,CURSO DE ENFERMAGEM,1,0,0,0,1,Uruguaiana,0.0
28,CURSO DE FARMACIA,8,3,0,0,5,Uruguaiana,0.0
29,CURSO DE FISIOTERAPIA,4,4,0,0,0,Uruguaiana,0.0

## preparação e limpeza do dataset 2

In [ ]:
sdef cleardb2(data, lastline):
    data.columns = data.loc[1]
    data.drop(data.index[:2], inplace=True)
    data.drop(data.index[lastline:], inplace=True)
    data["NOME_CURSO"].fillna(method='ffill', inplace=True)
    data.dropna(1, inplace=True)
    data.reset_index(drop=True, inplace=True)
    data = split(data)
    data = pivoting(data)
    return data
    
def split(data):
    
    ocorrencia = data[["Ocorrência/forma de evasão"]]
    ocorrencia = pd.DataFrame(ocorrencia["Ocorrência/forma de evasão"].str.split("=").tolist())
    data = pd.concat([data, ocorrencia], axis=1, join_axes=[d081.index])
    
    data.drop(columns=["Ocorrência/forma de evasão"], inplace=True)
    data.rename({"NOME_CURSO": "curso", 0:"tipo", 1:"quantidade"}, axis=1, inplace=True)
    data.quantidade = data.quantidade.apply(pd.to_numeric)
    return data

def pivoting(data):
    
    data.dropna(inplace=True)
    data = data.pivot(index="curso", columns='tipo', values="quantidade")
    data.fillna(0, inplace=True)
    data.reset_index(inplace=True)
    return data

In [ ]:
d081 = pd.read_csv("./data/evasao - 081.csv", encoding = "utf-8")
d081 = cleardb2(d081,-4)
d081

In [ ]:
d082 = pd.read_csv("./data/evasao - 082.csv", encoding = "utf-8")
d082 = cleardb2(d082, -5)
d082

In [ ]:
d091 = pd.read_csv("./data/evasao - 091.csv", encoding = "utf-8")
d091 = cleardb2(d091, -8)
d091

In [ ]:
d092 = pd.read_csv("./data/evasao - 092.csv", encoding = "utf-8")
d092 = cleardb2(d092, -6)
d092

In [ ]:
d101 = pd.read_csv("./data/evasao - 101.csv", encoding = "utf-8")
d101 = cleardb2(d101, -8)
d101

In [ ]:
d102 = pd.read_csv("./data/evasao - 102.csv", encoding = "utf-8")
d102 = cleardb2(d102,-7)
d102

In [ ]:
d111 = pd.read_csv("./data/evasao - 111.csv", encoding = "utf-8")
d111 = cleardb2(d111,-5)
d111